@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.image-and-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    

}

.image-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}

.image-text-container  img{
    width: 40%;
}
.text-cont{
    padding: 1rem 3rem;
    width: 70%;
    background-color: white;
    box-shadow: 5px 5px 10px #888888;
    line-height: 25px;

}
.text-cont h2{
    font-size: 2rem;
    color: black;
    display: block;
    margin-bottom: 8px;

}
.text-cont p{
    
    color: black;
    font-size: clamp(0.1rem,1.5vw,1rem);
    font-weight: 500;
}

@media (max-width: 768px){

    .text-cont{
        width: 100%;
        padding: 1rem 2rem;
    }
    .text-cont p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .image-text-container{
        display: none; 
    }
}