.landingpage-section-two{
    background-image: url("/src/assets/Logos/Logos_Real_Star-04.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: max-content;
}
.landingpage-section-two-container{
    background-color: rgba(240, 248, 255, 0.891);
}
.landingpage-section{
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}
.landingpage-title{
    width: 40%;
}
.landingpage-section-three{
    width: 100%;
    height: 100vh;
    background-image: url("/src/assets/images/IMG_0403.jpg");
    background-size: cover;
    margin-top: 100px;
}
.landingpage-section-three-card-container{
    display: flex;
    justify-content: center;
}
.landingpage-section-three h2{
    margin-bottom: 50px;
}
/* .landingpage-section-one-carousel{
    width: 60%;
} */


/*------------- value section styles-------- */
.values-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/images/IMG_0403_dark.png') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40rem;
    object-fit: cover;
    


}

.main-title-value{
    
    font-size: 1rem;

}
.values-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}

.our-programs>div{
    display: flex;
    justify-content: space-around;
}
.our-programs>h2{
    text-align: center;
}