@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
p{
    text-align: justify;
}
.landingpage-section{
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}
.body-landingpage {
    opacity: 0; /* Comienza con opacidad 0 (transparente) */
    animation: aparecer 2s ease-in-out forwards; /* Animación de 1 segundo */
    padding-top: 100px;
}
  
@keyframes aparecer {
    from {
      opacity: 0; /* Opacidad inicial */
    }
    to {
      opacity: 1; /* Opacidad final */
    }
}
.landingpage-section-one-carousel-container{
    width: 100%;
}
.landingpage-section-one{
    position: relative;
    min-height: calc(100vh - 80px);
    background-image: url("/src/assets/images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.landingpage-section-one::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.621);
   z-index: 1;
}
.landingpage-section-one-title-container{
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
/* .landingpage-section-one-title-container>div{
    display: flex;
    flex-direction: column;
} */
.landingpage-section-one h1{
    flex: 1;
    padding-top: 50px;
    margin-bottom: 100px;
    max-width: 450px;
}
.landingpage-section-one-title-container{
    /* background-image: url("/src/assets/Logos/Logos_Real_Star-04.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    
}

.landingpage-section-one-title-container>div{
    background-color: rgba(240, 248, 255, 0.891);
    width: 100%;
    height: 100%;
}

.landingpage-section-two{
    background-image: url("/src/assets/Logos/Logos_Real_Star-04.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.landingpage-section-two-container{
    background-color: #eaebedc2;
    padding: 0 10%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.landingpage-title{
    width: 40%;
}
.landingpage-section-three{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url("/src/assets/images/IMG_0403.jpg");
    background-size: cover;
    background-position: center;
    /* margin-top: 100px; */
}
.landingpage-section-three .opacity-mask-container{
    padding-top: 50px;
}
.landingpage-section-three-card-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.landingpage-section-three h2{
    margin-bottom: 50px;
}
/* .landingpage-section-one-carousel{
    width: 60%;
} */


/*------------- value section styles-------- */
.values-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/images/IMG_0403_dark.png') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40rem;
    object-fit: cover;
    


}

.main-title-value{
    
    font-size: 1rem;

}
.values-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}

.our-programs{
    /* width: 100%; */
    min-height: 100vh;
    height: auto;
    background-image: url("/src/assets/Logos/Logos_Real_Star-04.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.our-programs-cards-container{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.our-programs>div{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0 10%;
    padding-bottom: 10vw;
    background-color: #eaebedc2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
}
.our-programs>div>h2{
    text-align: center;
}
.section-Join{
    margin: 0;
    /* padding-top: 30px; */
}
.section-Join .opacity-mask-container{
    padding-top: 30px;
}
.section-Join h2{
    /* margin-top: 30px; */
}
.section-Join-paragraph-container{
    flex: 1;
}
.section-Join p{
    font-family: 'montserrat','sans-serif';
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 900px;
    width: 90vw;
    text-align: center;
    font-size: clamp(0.1rem,5vw,1.3rem);
    color: white;
    /* margin: 0; */
    /*  display: flex;
    flex-direction: column; */
}
.section-Join P:last-of-type{
    font-weight: bold
}
.section-Join input:first-of-type{
    margin-bottom: 20px;
}
.section-Join input:last-of-type{
    margin-bottom: 50px;
}
.section-WhoWeAre{
    margin: 100px 0;
    background: url("/src/assets/Logos/Logos_Real_Star-04.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.section-WhoWeAre>div{
    position: relative;
    z-index: 3;
}
.section-WhoWeAre::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.621);
    z-index: 1;
}
.section-WhoWeAre>p:first-of-type{
    margin-bottom: 50px;
    margin-top: 50px;
}
.section-WhoWeAre h2{
    text-align: center;
    margin: 0 0 20px 0;
}
/* .section-WhoWeAre article:first-of-type{
    margin: 0;
    margin-bottom: 40px;
} */
/* 
.section-WhoWeAre article:last-of-type{
    margin: 0;
    margin-top: 100px;
} */
/* .section-WhoWeAre p{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.1rem,1.5vw,1.2rem);
    color: black;
} */

/* Problem and solution */
.problem-and-solution{
    padding: 5rem;
    background-color: #eaebed;
    background: url("/src/assets/Logos/Logos_Real_Star-04.png");
    background-position: right;
    background-size: 15%;
    background-repeat: no-repeat;
    position: relative;
    
}
.problem-and-solution>div{
    position: relative;
    z-index: 2;
}
.problem-and-solution::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #eaebedc2;
    z-index: 1;
}

.problem-and-solution-p{
    color: black;
    font-size: clamp(0.1rem,1.5vw,1.2rem);
    font-family: 'Montserrat', sans-serif;
    margin-top: 4rem;
    font-weight: 500;
    margin: 1rem 3.8rem;

}

.button-image{
    display: none;
}




@media screen and (width < 960px) {
    h1,h2,h3,h4{
        text-align: center;
        margin: auto;
    }
    p{
        text-align: justify;
        margin: auto;
    }
    .button-see-more{
        margin: 10px auto;
    }
    /* .landingpage-section-one .button-see-more{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .landingpage-section-one-title-container{
        width: 90%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .landingpage-section-one{
        /* position: static; */
        display: flex;
        /* width: 100%;
        height: calc(100vh - 80px); */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position-x: 85%;
    }

    .banner-article div.banner-section{
        padding: 0;
        width: 100%;
    }


    /* Problem and Solution */
    .section-WhoWeAre{
        background-size: 100%;
    }
    .problem-and-solution{
        padding: 1rem;
        width: 100%;
    }
    .problem-and-solution-p{
        font-size: 1rem;
    }
    .landingpage-section-one-carousel-container{
        padding-bottom: 100px;
    }


    .button-image{
        display: block;
    }
    .button-paragraph{
        display: none;
    }
    .landingpage-section-two-container{
        padding-bottom: 5px;
    }
    .our-programs{
        background-size: 100%;
        background-position: content;
        background-position: center;
    }
}