.button-see-more{
    padding: 0 30px;
    min-height: 45px;
    min-width: 150px;
    max-width: 200px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    /* color: white; */
    border: none;
}
