.card-programs{
    min-width: 350px;
    min-height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    margin: 10px;
}
.card-programs>div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.card-programs>input{
    margin-bottom: 70px;
    display: block;
}
.card-programs>div h3:last-of-type{
    font-weight: 500;
    font-size: 1rem;
    font-family: "montserrat","sans-serif";
}
.card-programs>div>h2{
    width: 80%;
}