footer{
    display: flex;
    flex-direction: row;
}


.footer-options li a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.footer-contact-info{
    display: flex;
    flex-direction: column;
}
.column-3{
    display: flex;
    flex-direction: column;
}
.logos-container-footer div{
    display: flex;
    flex-direction: row;
    
}