.section-full-width{
    width: 100%;
    /* min-height: 100vh; */
    /* margin-top: 100px; */
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 100px 0; */
}
.section-full-width>h2{
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
}
.section-full-width-image{
    width: 100%;
    max-width: 900px;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-color: gray;
    margin: 0 auto;
    margin-bottom: 50px;
}