@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.header-container{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    padding-top: 2rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.options-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.options-container li{
    list-style: none;
    
    
}
.options-container li a{
    color: black;
    cursor: pointer;
}
.options-container li a:hover{
    border-bottom: 2px solid #FF9700;
}


.header-logo{
    height: 75%;

}
.header-logo img{
    object-fit: cover;
    height: 100%;
}