@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.header-container{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 0 10%;
    z-index: 100;

}

nav a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    /* margin-right: 1rem; */
    margin-left: 3%;
    border-bottom: 2px solid #ff990000;
}
nav a:hover{
    border-bottom: 2px solid #FF9700;
}
.nav-class-header{
    /* margin-right: 0%; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex:1;
        justify-content: right;
}

.header-logo{
    height: 44%;
}
.header-logo img{
    object-fit: cover;
    height: 100%;
    /* margin-left: 24%; */
}

/* ---------Hamburger Menu ------*/
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    display: none;
}

@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .nav-class-header{
        /* margin-right: 0%; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 70%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: white;
        transition: 1s;
        transform: translateY(-100vh);
        padding-top: 80px;
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;

    }
    nav a{
        font-size: 1.5rem;
    }



}

@media screen and (min-width: 1440px) {
    
    .header-logo img{
        margin-left: 10%;
    }
  }
  
/* @media screen and (width < 1025px){
    .header-container{
        flex-wrap: wrap;
        flex-direction: column;
    }
} */