.banner-article{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-bottom: 70px;
}
.invest:nth-child(1) { order: 2; }
.invest:nth-child(2) { order: 1; }
.banner-section{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-image-model-one{
    width: 52%;
}
.banner-info-model-one{
    width: 48%;
}
.banner-image-model-two{
    width: 46%;
}
.banner-info-model-two{
    width: 54%;
}
.banner-info{
    padding: 0 0 0 5vw;
    
}
.banner-info>div{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}
.banner-info.invest{
    padding: 0 5vw 0 0;
}
/* .banner-title{
    color: black;
    font-weight: bold;
    width: 300px;
} */
