.banner-article{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.invest:nth-child(1) { order: 2; }
.invest:nth-child(2) { order: 1; }
.banner-section{
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-image-model-one{
    width: 52%;
}
.banner-info-model-one{
    width: 48%;
}
.banner-image-model-two{
    width: 46%;
}
.banner-info-model-two{
    width: 54%;
}
.banner-info{
    padding: 0 0 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.banner-info.invest{
    padding: 0 5vw 0 0;
}
.banner-info>p{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.1rem,1.5vw,1.2rem);
    color: black;
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    flex: 1;
}
.banner-info>input{
    width: 150px;
    height: 45px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    background-color: #FF8300;
    border: none;
}
.banner-title{
    color: black;
    font-weight: bold;
    width: 300px;
}
